<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @unidade.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @unidade.descricao %>
</p>

<%= link_to t(:detalhar), edit_unidade_path(@unidade) %> |
<%= link_to t(:voltar), unidades_path %>
