<%= form_for(@categorizacao) do |f| %>
  <% if @categorizacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorizacao.errors.count, "error") %> prohibited this categorizacao from being saved:</h2>

      <ul>
      <% @categorizacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-horizontal">
  <div class="form-group">
    <%= f.label :nome, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :nome, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :descricao, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :descricao, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
</div>
<% end %>
