<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @categorizacao.nome %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @categorizacao.descricao %>
</p>

<%= link_to 'Editar', edit_categorizacao_path(@categorizacao) %> |
<%= link_to 'Voltar', categorizacoes_path %>
