<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @itempedido.quantidade %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @itempedido.pedido %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @itempedido.produto %>
</p>

<%= link_to 'Edit', edit_itempedido_path(@itempedido) %> |
<%= link_to 'Back', itempedidos_path %>
