<p id="notice"><%= notice %></p>

<%= link_to 'Categorizações', categorizacaos_path %>
<%= link_to 'Encomendas', encomendas_path %>
<%= link_to 'Endereços', enderecos_path %>
<%= link_to 'Pedidos', pedidos_path %>
<%= link_to 'Produtos', produtos_path %>
<%= link_to 'Unidades', unidades_path %>
<hr/>
