<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.collection_select :usuario_id, Usuario.order(:nome),:id,:nome, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :encomenda_id %><br>
    <%= f.collection_select :encomenda_id, Encomenda.order(:dataentrega),:id,:dataentrega, include_blank: true %>
  </div>
  <div>
    <%= f.fields_for :itempedidos do |ff| %>
    <div class="field">
      <%= label_tag ff.object.produto.nome %>
      <%= ff.text_field :quantidade %>
      <%= label_tag ff.object.produto.unidade.descricao %>
    </div>
  <% end %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
