<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.collection_select :usuario_id, Usuario.order(:nome),:id,:nome, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :encomenda_id %><br>
    <%= f.collection_select :encomenda_id, Encomenda.order(:dataentrega),:id,:dataentrega, include_blank: true %>
  </div>
  <div>
    <%= field_set_tag 'Produtos' do %>
      <% @pedido.itempedidos.each do |ip| %>
        <%= ip.produto.nome %>
        <input type="text" value="<%= ip.quantidade %>" name="pedido[itempedidos_attributes][<%= ip.produto.id %>][quantidade]" id="pedido_itempedidos_attributes_<%= ip.produto.id %>_quantidade">
        <%= ip.produto.unidade.nome %><br/>
      <% end %>
    <% end %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
