<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">
    <div class="form-group">
      <%= f.label :usuario_id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-8">
        <%= f.collection_select :usuario_id, @usuarios,:id,:email, include_blank: false, disabled: true, :selected => current_usuario.id, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :encomenda_id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-8">
        <%= f.collection_select :encomenda_id, @encomendas,:id,:encomenda_com_endereco, include_blank: false, class: 'form-control' %>
      </div>
    </div>
    
    <% @categorias.each do |cat| %> 
      <div class="form-group">
        <div class="col-sm-2 control-label">
          <%= label_tag cat.nome %>
        </div>
      </div> 
      <%= f.fields_for :itempedidos do |ff| %>
        <% if ff.object.produto.categorizacao == cat %>
          <div class="form-group">
            <div class="col-sm-2 control-label">
              <%= label_tag ff.object.produto.nome %>
            </div>
            <div class="col-sm-8">
              <%= ff.number_field(:quantidade, in: 0..100) %>
              <%= ff.hidden_field :produto_id %>
              <%= label_tag ff.object.produto.unidade.nome %> - 
              <%= label_tag number_to_currency(ff.object.produto.valorunitario) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
