<%= form_for(@endereco) do |f| %>
  <% if @endereco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endereco.errors.count, "error") %> prohibited this endereco from being saved:</h2>

      <ul>
      <% @endereco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-horizontal">
  <div class="form-group">
    <%= f.label :logradouro, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :logradouro, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :numero, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :numero, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cep, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :cep, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bairro, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :bairro, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :municipio, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :municipio, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :estado, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.text_field :estado, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
</div>
<% end %>
