<p id="notice"><%= notice %></p>

<h1>Listing Encomendaprodutos</h1>

<table>
  <thead>
    <tr>
      <th>Encomenda</th>
      <th>Produto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @encomendaprodutos.each do |encomendaproduto| %>
      <tr>
        <td><%= encomendaproduto.encomenda %></td>
        <td><%= encomendaproduto.produto %></td>
        <td><%= link_to 'Show', encomendaproduto %></td>
        <td><%= link_to 'Edit', edit_encomendaproduto_path(encomendaproduto) %></td>
        <td><%= link_to 'Destroy', encomendaproduto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encomendaproduto', new_encomendaproduto_path %>
