<!DOCTYPE html>
<html>
<head>
  <title>Benditaquitanda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     	<%= link_to 'Bendita Quitanda', root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav">
        <% if current_usuario and current_usuario.admin? %>
        <li class="<%= 'active' if current_page?(categorizacoes_path) %>">
        	<%= link_to 'Categorias', categorizacoes_path %>
        </li>
        <li class="<%= 'active' if current_page?(encomendas_path) %>">
        	<%= link_to 'Encomendas', encomendas_path %>
        </li>
        <li class="<%= 'active' if current_page?(enderecos_path) %>">
        	<%= link_to 'Endereços', enderecos_path %>
        </li>
        <% end %>
        <% if current_usuario %>
        <li class="<%= 'active' if current_page?(pedidos_path) %>">
        	<%= link_to 'Pedidos', pedidos_path %>
        </li>
        <% end %>
        <% if current_usuario and current_usuario.admin? %>
        <li class="<%= 'active' if current_page?(produtos_path) %>">
        	<%= link_to 'Produtos', produtos_path %>
        </li>
        <li class="<%= 'active' if current_page?(unidades_path) %>">
        	<%= link_to 'Unidades', unidades_path %>
        </li>
        <li class="<%= 'active' if current_page?(control_usuarios_index_path) %>">
          <%= link_to 'Usuários', control_usuarios_index_path %>
        </li>
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      	<% if current_usuario %> 
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_usuario.email %><span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><%= link_to 'Sair', destroy_usuario_session_path, {method: 'DELETE'} %></li>
	          </ul>
	        </li>
		<% end %>	        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="padding-left:5px; padding-right: 5px">
  <%= yield %>
</div>
</body>
</html>
