<!DOCTYPE html>
<html>
<head>
  <title>Benditaquitanda</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'Bendita Quitanda', root_path %></h1>
<% if current_usuario %> 
	<%= current_usuario.nome %>
	<%= link_to 'Sair', destroy_usuario_session_path %>
<% end %>
<hr/>
<%= yield %>
</body>
</html>
