<%= form_for(@encomenda) do |f| %>
  <% if @encomenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encomenda.errors.count, "error") %> prohibited this encomenda from being saved:</h2>

      <ul>
      <% @encomenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-horizontal">
  <div class="form-group">
    <%= f.label :endereco_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.collection_select :endereco_id, Endereco.order(:logradouro),:id,:logradourocomnumero, include_blank: true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dataentrega, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.datetime_select :dataentrega, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :datalimitepedido, class: 'col-sm-2 control-label' %>
    <div class="col-sm-8">
      <%= f.datetime_select :datalimitepedido, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
</div>
<% end %>
