<p id="notice"><%= notice %></p>

<h1>Encomendas</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Endereço</th>
        <th>Data entrega</th>
        <th>Data limite pedido</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @encomendas.each do |encomenda| %>
        <tr>
          <td><%= encomenda.endereco.logradouro %></td>
          <td><%= l(encomenda.dataentrega) %></td>
          <td><%= l(encomenda.datalimitepedido) %></td>
          <td><%= link_to t(:detalhar), encomenda %></td>
          <% if encomenda.datalimitepedido >= DateTime.now %>
            <td><%= link_to t(:editar), edit_encomenda_path(encomenda) %></td>
          <td><%= link_to t(:excluir), encomenda, method: :delete, data: { confirm: t(:confirmaexclusao) } %></td>
          <% else %>
            <td></td>
            <td></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Nova Encomenda', new_encomenda_path %>
