<p id="notice"><%= notice %></p>

<p>
  <strong>Endereco:</strong>
  <%= @encomenda.endereco.logradouro %>
</p>

<p>
  <strong>Dataentrega:</strong>
  <%= l(@encomenda.dataentrega) %>
</p>

<p>
  <strong>Datalimitepedido:</strong>
  <%= l(@encomenda.datalimitepedido) %>
</p>

<%= link_to 'Edit', edit_encomenda_path(@encomenda) %> |
<%= link_to 'Back', encomendas_path %>
